input.is-valid {
  border: 2px solid green;
}

input.is-invalid {
  border: 2px solid red;
}

.messages {
  opacity: 0;
  transition: all 0.5s ease-in;
}

.messages.active {
  opacity: 1;
}

form mat-form-field {
  width: 100%;
}
