<form [formGroup]="form" (ngSubmit)="save($event)">
  <div formGroupName="fullName">
    <mat-form-field class="example-full-width">
      <mat-label>Name: {{ nameField?.value }}</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-icon matSuffix *ngIf="isNameFieldValid">check_circle</mat-icon>
      <mat-icon matSuffix *ngIf="isNameFieldInvalid">cancel</mat-icon>
    </mat-form-field>

    <div class="messages" [class.active]="isNameFieldInvalid">
      <mat-error *ngIf="nameField?.touched && nameField?.hasError('required')">
        Este campo es requerido.
      </mat-error>
      <mat-error *ngIf="nameField?.touched && nameField?.hasError('maxlength')">
        Este campo debe tener solo puede 10 caracteres.
      </mat-error>
      <mat-error *ngIf="nameField?.touched && nameField?.hasError('pattern')">
        Este campo no admite caracteres.
      </mat-error>
    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Last Name: {{ lastField?.value }}</mat-label>
      <input matInput type="text" formControlName="last" />
    </mat-form-field>

    <div
      class="messages"
      [class.active]="lastField?.touched && lastField?.invalid"
    >
      <mat-error *ngIf="lastField?.hasError('required')">
        Este campo es requerido.
      </mat-error>
      <mat-error *ngIf="lastField?.hasError('maxlength')">
        Este campo debe tener solo puede 10 caracteres.
      </mat-error>
      <mat-error *ngIf="lastField?.hasError('pattern')">
        Este campo no admite caracteres.
      </mat-error>
    </div>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Email: {{ emailField?.value }}</mat-label>
    <input matInput type="text" formControlName="email" />
  </mat-form-field>

  <div
    class="messages"
    [class.active]="emailField?.touched && emailField?.invalid"
  >
    <mat-error *ngIf="emailField?.hasError('required')">
      Este campo es requerido.
    </mat-error>
    <mat-error *ngIf="emailField?.hasError('email')">
      Este email es incorrecto.
    </mat-error>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Phone: {{ phoneField?.value }}</mat-label>
    <input matInput type="tel" formControlName="phone" />
  </mat-form-field>

  <div
    class="messages"
    [class.active]="phoneField?.touched && phoneField?.invalid"
  >
    <mat-error *ngIf="phoneField?.touched && phoneField?.hasError('required')">
      Este campo es requerido.
    </mat-error>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Color: {{ colorField?.value }}</mat-label>
    <input matInput type="color" formControlName="color" />
    <mat-icon matSuffix>palette</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date: {{ dateField?.value }}</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Age: {{ ageField?.value }}</mat-label>
    <input matInput type="number" formControlName="age" />
  </mat-form-field>

  <div class="messages" [class.active]="ageField?.touched && ageField?.invalid">
    <mat-error *ngIf="ageField?.hasError('required')">
      Este campo es requerido
    </mat-error>
    <mat-error *ngIf="ageField?.hasError('min')">
      Debe ser mayor de edad.
    </mat-error>
    <mat-error *ngIf="ageField?.hasError('max')">
      Debe ser menor a 100 años.
    </mat-error>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Category: {{ categoryField?.value }}</mat-label>
    <mat-select formControlName="category">
      <mat-option value="category-1">Category 1</mat-option>
      <mat-option value="category-2">Category 2</mat-option>
      <mat-option value="category-3">Category 3</mat-option>
      <mat-option value="category-4">Category 4</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tags: {{ tagField?.value }}</mat-label>
    <mat-select formControlName="tag" multiple>
      <mat-option value="tag-1">Tag 1</mat-option>
      <mat-option value="tag-2">Tag 2</mat-option>
      <mat-option value="tag-3">Tag 3</mat-option>
      <mat-option value="tag-4">Tag 4</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox formControlName="agree"
    >Agree: {{ agreeField?.value }}</mat-checkbox
  >
  <div
    class="messages"
    [class.active]="agreeField?.touched && agreeField?.invalid"
  >
    <mat-error *ngIf="agreeField?.hasError('required')">
      Este campo es requerido.
    </mat-error>
  </div>

  <div class="gender_radiobutton">
    <label>Gender: {{ genderField?.value }}</label>
    <mat-radio-group formControlName="gender">
      <mat-radio-button value="male">Male</mat-radio-button>
      <mat-radio-button value="female">Female</mat-radio-button>
      <mat-radio-button value="otro">Otro</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="zone_radiobutton">
    <label>Zone: {{ zoneField?.value }}</label>
    <mat-radio-group formControlName="zone">
      <mat-radio-button value="zone-1">Zona 1</mat-radio-button>
      <mat-radio-button value="zone-2">Zona 2</mat-radio-button>
      <mat-radio-button value="zone-3">Zona 3</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Mayor A:</mat-label>
    <input matInput type="number" formControlName="minRange" />
  </mat-form-field>

  <div class="messages" [class.active]="minField?.touched && minField?.invalid">
    <mat-error *ngIf="minField?.hasError('required')">
      El campo es requerido
    </mat-error>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Menor A:</mat-label>
    <input matInput type="number" formControlName="maxRange" />
  </mat-form-field>

  <div class="messages" [class.active]="form.invalid">
    <mat-error *ngIf="maxField?.touched && maxField?.hasError('required')">
      El campo es requerido
    </mat-error>
    <mat-error *ngIf="form.hasError('range')">
      El rango debe estar entre 0 y 100
    </mat-error>
  </div>

  <button type="button" (click)="addAddressField()">Add address</button>
  <div
    formArrayName="address"
    *ngFor="let address of addressField.controls; let i = index"
  >
    <div [formGroupName]="i">
      <mat-form-field class="example-full-width">
        <mat-label>ZipCode:</mat-label>
        <input matInput type="text" formControlName="zip" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Text:</mat-label>
        <input matInput type="text" formControlName="text" />
      </mat-form-field>
    </div>
  </div>

  <div class="messages" [class.active]="form.invalid">
    <mat-error
      *ngIf="addressField?.touched && addressField?.hasError('required')"
    >
      El campo es requerido
    </mat-error>
  </div>

  <div style="margin: 20px 0px">
    <app-stepper formControlName="stock"></app-stepper>
  </div>
  <p>
    <button mat-raised-button color="primary" type="submit">Enviar</button>
  </p>
</form>
