<!-- <p>La Cantidad {{ myShoppingCart.length }}</p>
<p>Total: ${{ total }}</p>
<p>Today: {{ today | date : "short" }}</p>
<p>Today: {{ today | timeAgo }}</p>
<p>Otra fecha: {{ date | date : "yyyy...dd...MM" }}</p>
<p>{{ "Hola esta es una cadena de prueba" | uppercase }}</p>
 -->
<button (click)="createNewProduct()">create</button>
<button (click)="onShowDetail('1486')">detalle not found</button>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
</div>
<button (click)="onLoadMore()">Load more</button>

<div class="product-detail" [class.active]="showProductDetail">
  {{ statusDetail }}
  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ productChosen.title }}</h1>
    <swiper [slidesPerView]="1">
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
        <img [src]="img" alt="" />
      </ng-template>
    </swiper>
    <p>{{ productChosen.description }}</p>
    <button (click)="updateProduct()">editar</button>
    <button (click)="deleteProduct()">borrar</button>
  </div>
</div>
