.page-product {
  padding: 0 3em;
}

.page-product .detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.page-product .detail .gallery {
  overflow: hidden;
  width: 100%;
}

.page-product .detail h2,
.page-product .detail h1 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 2em;
}
.page-product .detail h2 {
  font-size: 1.5em;
}
