<p>
  <input type="search" [formControl]="searchField" />
</p>
<p>
  Current Value:
  {{ searchField.value }}
</p>

<div class="images-grid">
  <div class="image" *ngFor="let result of results">
    <img [src]="result" alt="gif" class="img-fluid" />
  </div>
</div>
