:host {
  margin-bottom: 3em;
  display: block;
}

.cart {
  position: relative;
}

.cart .counter {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #acd9b2;
  border-radius: 50%;
  display: block;
  color: white;
  text-align: center;
  position: absolute;
  top: -10px;
  right: -10px;
}

.show-mobile {
  display: block;
  box-shadow: 0px 2px 5px rgb(black, 0.2);
}
.show-mobile > div {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-mobile > div button {
  border: 0;
  background: transparent;
}
.show-mobile .side-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateX(-100%);
  transition: all ease-out 0.5s;
}
.show-mobile .side-menu.active {
  transform: translateX(0);
}
.hide-mobile {
  display: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.hide-mobile > div {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hide-mobile .logo {
  margin-right: 1em;
}
.hide-mobile nav {
  display: flex;
  align-items: center;
}
.hide-mobile nav ul {
  display: flex;
  list-style: none;
}
.hide-mobile nav ul a {
  margin: 0 0.2em;
  color: inherit;
  text-decoration: none;
}

.hide-mobile nav ul li a.active {
  border: 1px solid #acd9b2;
  color: #acd9b2;
  border-radius: 5px;
  padding: 0.2em 0.8em;
}

.hide-mobile .info {
  display: flex;
  align-items: center;
}
.hide-mobile .info .account {
  margin-right: 0.5em;
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}
