<div>
  <header>
    <h3>Title</h3>
  </header>
  <nav *ngIf="user">
    <ul>
      <li><a routerLink="grid">Grid page</a></li>
      <li><a routerLink="tasks">Tasks page</a></li>
      <li><a routerLink="basic">Basic</a></li>
      <li><a routerLink="categories">Categorias</a></li>
      <li><a routerLink="#">Cerrar</a></li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
