<form [formGroup]="form" (ngSubmit)="save()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Categoría</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input
              placeholder="Nombre"
              formControlName="name"
              matInput
              type="text"
            />
            <div
              class="messages"
              *ngIf="nameField?.touched && nameField?.invalid"
            >
              <mat-error *ngIf="nameField?.hasError('required')">
                La categoría es requerida
              </mat-error>
              <mat-error *ngIf="nameField?.hasError('minLength')">
                La categoría debe tener al menos 4 caracteres
              </mat-error>
              <mat-error *ngIf="nameField?.hasError('not_available')">
                Este nombre ya lo tiene otra categoría
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <figure *ngIf="imageField?.value">
            <img [src]="imageField?.value" alt="image" class="img-fluid" />
          </figure>
          <input
            placeholder="Image"
            formControlName="image"
            type="file"
            (change)="uploadFile($event)"
          />
          <div
            class="messages"
            *ngIf="imageField?.touched && imageField?.invalid"
          >
            <mat-error *ngIf="imageField?.hasError('required')">
              Este campo es requerido
            </mat-error>
            <mat-error *ngIf="imageField?.hasError('pattern')">
              Debe agregar una imagen valida
            </mat-error>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">
        <span *ngIf="isNew">Crear categoría</span>
        <span *ngIf="!isNew">Editar categoría</span>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
