<a [routerLink]="['/product', product.id]">
  <app-img
    *ngIf="product.images.length > 0"
    [img]="product.images[0]"
  ></app-img>
</a>
<h2>{{ product.price | currency : "COP" }}</h2>
<p>{{ product.title }}</p>
<p *ngIf="product.taxes">{{ product.taxes | currency : "COP" }}</p>
<!-- <p appHighlight>{{ product.description }}</p> -->
<!-- <button (click)="onShowDetail()">View DEtail</button> -->
<a routerLink="." [queryParams]="{ product: product.id }">Ver Detalle</a>
<button (click)="onAddToCart()">Add cart</button>
