<a mat-raised-button routerLink="create">Crear Categoría</a>
<table
  mat-table
  [dataSource]="categories"
  class="mat-elevation-z8 products-table"
>
  <caption>
    <!-- Table of categories -->
  </caption>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let category">{{ category.id }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let category">{{ category.name }}</td>
  </ng-container>
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <td mat-cell *matCellDef="let category">
      <img [src]="category.image" alt="category" />
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let category">
      <a mat-raised-button [routerLink]="['edit', category.id]">Editar</a>
      <button mat-raised-button color="warn">Eliminar</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
