<form [formGroup]="form" (ngSubmit)="register($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              type="email"
              placeholder="email"
              formControlName="email"
              matInput
            />
            <div
              *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
            >
              <mat-error *ngIf="form.get('email')?.hasError('required')">
                Email requerido
              </mat-error>
              <mat-error *ngIf="form.get('email')?.hasError('email')">
                No es un email valido.
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              placeholder="password"
              formControlName="password"
              matInput
              type="password"
            />
            <div
              *ngIf="
                form.get('password')?.touched && form.get('password')?.invalid
              "
            >
              <mat-error
                *ngIf="form.get('password')?.hasError('invalid_password')"
              >
                Debe tener un numero
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input
              placeholder="password"
              formControlName="confirmPassword"
              matInput
              type="password"
            />
            <div *ngIf="form.get('confirmPassword')?.touched && form.errors">
              <mat-error *ngIf="form.hasError('match_password')">
                No hace match
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-radio-group
            formControlName="type"
            aria-label="Select an options"
          >
            <mat-radio-button value="company">Company</mat-radio-button>
            <mat-radio-button value="customer">Customer</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row" *ngIf="showCompany">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Company Name</mat-label>
            <input
              type="text"
              placeholder="company Name"
              formControlName="companyName"
              matInput
            />
            <div
              *ngIf="
                form.get('companyName')?.touched &&
                form.get('companyName')?.invalid
              "
            >
              <mat-error *ngIf="form.get('companyName')?.hasError('required')">
                Company name requerido
              </mat-error>
            </div>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="form.invalid"
        color="primary"
        mat-raised-button
        type="submit"
      >
        Registro
      </button>
    </mat-card-actions>
  </mat-card>
</form>
