/* You can add global styles to this file, and also import other style files */
@import url("./styles/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import "swiper/css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: "Quicksand", sans-serif;
}

.products--grid app-img img {
  border-radius: 10px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
